---
import Layout from "../layouts/layout.astro";
import "../styles/main.css";
---

<Layout title="Atmois">
<!-- Status Box
  <div class="flex flex-col gap-y-2 rounded-md border p-3 m-4">
    <h1 class="headerText">Current Obsession:</h1>
    <p class="bodyText">TF2 Engineer Gaming</p>
-->
  </div>
  <br>
  <p class="headerText">Hey!</p>
<p class="mainText">
  I do a lotta random things online but my favourite things to do are: Programming, listening to music & gaming
  and I aspire to go into law, tech or psychology. My music taste is the most obscure thing you will ever see and I love
  science. 
  <br><br>
  Current Time: <span id="localTime">13:15</span>
  <br>
  Discord: @atmois
  <br>
  Language: English
  <br><br>
</p>

<a href="https://stats.fm/atmois">
  <img src="https://spotify-recently-played-readme.vercel.app/api?user=b9awkeqzsmg4s6k340h9g83mr&count=1" alt="Recently Played on Spotify">
</a>
</Layout>
<script src="../scripts/time.js"></script>